{% extends 'base.html' %}

{% block title %}
пр - 7
{% endblock %}

{% block menu %}
<header class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Header">
    <div class="container">
        <a href="{{ url_for('main.index') }}" class="navbar-brand">Пр-7</a>
        <button class="navbar-toggler p-0 border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#header" aria-controls="header">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end bg-dark cropped" data-bs-scroll="true" tabindex="-1" id="header" aria-labelledby="headerLable">
            <ul class="navbar-nav ms-sm-auto mb-2 mx-3 mx-sm-0 mb-sm-0">

                <li class="nav-item">
                    <a class="nav-link active text-decoration-none" href="{{ url_for('pr7.index1') }}">Index-1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-decoration-none" href="{{ url_for('pr7.index2') }}">Index-2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-decoration-none" href="{{ url_for('pr7.index3') }}">Index-3</a>
                </li>

            </ul>
        </div>
    </div>
</header>
{% endblock %}